.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12.8rem 15.6rem;
  gap: 4.8rem;
}

.feature {
  display: grid;
  grid-template-columns: 4.8rem 1fr;
  align-items: center;
  column-gap: 2.4rem;

  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    fill: $color-primary;
  }

  &__text {
    grid-column: 2;
    align-self: start;
  }
}
