.footer {
  background-color: $color-secondary;
  padding: 9.6rem;

  &__nav {
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, max-content);
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    padding: 1.2rem 2.4rem;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-2px);
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #fff;
  }

  .copyright {
    color: $color-grey-light-2;
    text-align: center;
    font-size: 1.4rem;
    width: 75%;
    margin: 6.4rem auto 0;
  }
}
