.footer {
  background-color: $color-secondary;
  padding: 9.6rem;

  @include respond(phone) {
    padding: 9.6rem 4.8rem;
  }

  &__nav {
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));

    justify-content: center;
    justify-items: center;
  }

  &__item {
    transition: all 0.2s;
    align-items: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-2px);
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: #fff;

    padding: 1.2rem 2.4rem;
    display: inline-block;
  }

  .copyright {
    color: $color-grey-light-2;
    text-align: center;
    font-size: 1.4rem;
    width: 75%;
    margin: 6.4rem auto 0;
  }
}
