.header {
  // Section Layout

  display: grid;

  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: 1fr min-content min-content 1fr;

  gap: 1.6rem;

  align-items: start;
  justify-items: start;

  align-content: center;
  justify-content: center;

  padding: 4.8rem 9.6rem 6.4rem;

  //   Section Styles
  background-image: linear-gradient(
      rgba($color-secondary, 0.9),
      rgba($color-secondary, 0.9)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom;

  @include respond(phone) {
    padding: 4.8rem 4.8rem 6.4rem;
  }
  // Hero Logo
  &__logo {
    max-height: 3rem;
    justify-self: center;
  }

  // Hero Main part
  .heading-3 {
  }

  .btn {
  }

  //   Featured in
  &__featured-text {
    color: $color-grey-light-2;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 1.6rem;

    &::before,
    &::after {
      content: "";
      height: 0.5px;
      display: block;
      background-color: currentColor;
    }
  }

  &__featured-logo-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    @include respond(phone-2) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2.4rem;
      column-gap: 3.6rem;
      justify-items: start;
    }
  }

  &__featured-logo {
    max-height: 2.4rem;
    filter: brightness(70%);

    @include respond(phone) {
      max-height: 2rem;
    }
  }
}
