.homes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15.6rem;
  gap: 7.2rem;
}

.home {
  position: relative;
  background-color: $color-grey-light-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;

  &__like {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: $color-primary;
  }

  &__img {
    width: 100%;
    grid-column: 1 / -1;
  }

  &__heading {
    // Positioning
    grid-column: 1 / -1;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 80%;
    padding: 1.2rem 0;
    position: absolute;

    // Styles
    background-color: $color-secondary;
    color: #fff;

    // Typography
    font-family: $font-display;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-primary;
  }

  &__detail {
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    margin-left: 2.4rem;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  &__location {
  }

  &__rooms {
  }

  &__area {
  }

  &__price {
  }

  .btn {
    grid-column: 1 / -1;
    padding: 0.8rem;
  }
}
