.container {
  display: grid;
  grid-template-columns: 8rem 7fr 3fr;
  grid-template-rows: 90vh min-content;

  justify-content: center;
  align-content: center;
}

.sidebar {
  grid-row: 1 / 10;
}

.header {
  grid-column: 2/3;
}

.realtors {
}

.main {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(6, 1fr) [center-end] 1fr [full-end];
  grid-template-rows: repeat(4, min-content);
}

.features {
  grid-column: center-start/center-end;
}

.stories {
  grid-column: full-start/full-end;
}

.homes {
  grid-column: center-start/center-end;
}

.gallery {
  grid-column: full-start/full-end;
}

.footer {
  grid-column: 2/4;
}
