.sidebar {
  background-color: $color-primary;
}

.nav-btn {
  background-color: transparent;
  border: none;
  position: relative;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  cursor: pointer;
}

.nav-icon {
  &,
  &::before,
  &::after {
    height: 2px;
    width: 4rem;
    display: block;
    background-color: $color-grey-light-1;
    position: relative;
    line-height: 0;
  }

  &::before,
  &::after {
    content: "";
  }

  & {
    margin: 1.4rem 0;
  }
  &::before {
    top: -1rem;
  }

  &::after {
    top: 1rem;
  }
}
